fastapi
uvicorn[standard]
pydantic[email]
python-multipart
python-dotenv
email-validator
resend
stripe
dnspython
rich
click
sqlalchemy[asyncio]
asyncpg
alembic
passlib[bcrypt]
bcrypt<5
python-jose[cryptography]
apscheduler
